.card-product.rounded.container-fluid
    .heading
            p Favs del mes
            h2 Pisco Puro Quebranta 
    .image     
            img(src='./img/product-image.png', alt='Product Name').col-12
    .brand
            h2 Pisco Puro Quebranta
            span S/.94.90
    .product
            span ASPisco La Caravedo
            div SAS
            p PISCO TORO SANTO es un pisco puro con un car치cter fuerte y aguerrido que rinde un homenaje a nuestra rica historia. Fue lanzado al mercado en el a침o 2017 y se ha convertido en un destilado vers치til e ideal para cualquier ocasi칩n.