section.col-12.module-B
    img(src='./img/toro-santo-logo.png', alt='Toro Santo')
    p PISCO TORO SANTO es un pisco puro con un car치cter fuerte y aguerrido que rinde un homenaje a nuestra rica historia. Fue lanzado al mercado en el a침o 2017 y se ha convertido en un destilado vers치til e ideal para cualquier ocasi칩n.